@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    font-family: "Open Sans", system-ui, -apple-system;
    height: 500000;
}
*{
    margin: 0;
    box-sizing: border-box;
}
::selection{
    color: white;
    background-color:#D85454;
}
::-webkit-scrollbar {
    width: 11px;
}
::-webkit-scrollbar-thumb {
    background:#222427; 
    border-radius: 11px;
    box-shadow: 0px 0px 10px 0px #eeeeee8c inset;
}
::-webkit-scrollbar-track {
    background-color:#EEEEEE ; 
}
.alert-danger{
    background-color: #F8D7DA;
    border: 1px solid rgb(215, 58, 58);
    border-radius: 5px ;
    padding: 5px 10px;
    color: #90151C;
}